#decoders {
  overflow: hidden;
  #inputs{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    .left-col {
      float: left;
      width: 100px;
    }
    .right-col {
      float: left;
      width: 400px;
    }
  }
  #symbols, #encoder {
    position: absolute;
    top: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 5px;
    .title {
      text-decoration: underline;
    }
    .symbol-holder {
      display: inline-block;
      .letter {
        width:  60px;
      }
      .symbol {
        width: 70px;
      }
    }
  }
  #symbols {
    width: 310px;
    left: 20px;
    .symbol-holder {
      .letter {
        display: inline-block;
      }
      .symbol {
        display: inline-block;
      }
    }
    .hint {
      font-size: 12px;
      margin-top: 20px;
      color: #f88;
    }
  }
  #encoder {
    left: 350px;

    .title {
      margin-bottom: 50px;
    }
    .words {
      .word {
        display: inline-block;
        padding: 15px;
        padding-top: 50px;
        .letter {
          border-top: 1px solid #333;
          display: inline-block;
          padding: 10px;
          margin: 0 5px;
        }
      }
    }
  }
}
