#decoders {
  overflow: hidden;
}
#decoders #inputs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
}
#decoders #inputs .left-col {
  float: left;
  width: 100px;
}
#decoders #inputs .right-col {
  float: left;
  width: 400px;
}
#decoders #symbols,
#decoders #encoder {
  position: absolute;
  top: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 5px;
}
#decoders #symbols .title,
#decoders #encoder .title {
  text-decoration: underline;
}
#decoders #symbols .symbol-holder,
#decoders #encoder .symbol-holder {
  display: inline-block;
}
#decoders #symbols .symbol-holder .letter,
#decoders #encoder .symbol-holder .letter {
  width: 60px;
}
#decoders #symbols .symbol-holder .symbol,
#decoders #encoder .symbol-holder .symbol {
  width: 70px;
}
#decoders #symbols {
  width: 310px;
  left: 20px;
}
#decoders #symbols .symbol-holder .letter {
  display: inline-block;
}
#decoders #symbols .symbol-holder .symbol {
  display: inline-block;
}
#decoders #symbols .hint {
  font-size: 12px;
  margin-top: 20px;
  color: #f88;
}
#decoders #encoder {
  left: 350px;
}
#decoders #encoder .title {
  margin-bottom: 50px;
}
#decoders #encoder .words .word {
  display: inline-block;
  padding: 15px;
  padding-top: 50px;
}
#decoders #encoder .words .word .letter {
  border-top: 1px solid #333;
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
}
